<div class="modal fade" id="modalWindow" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>

<div class="modal fade" id="choiceModal" tabindex="-1" role="dialog" aria-labelledby="choiceModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            Are you sure?
        </div>
        <div class="modal-footer">
            <input class="btn btn-success" value="Yes" id="choiceModal-Yes" />
            <input class="btn btn-danger" value="No" id="choiceModal-No" />
        </div>
    </div>
</div>