@model ConversationInfo

<style>
    .userInConversationInfo {
        display: flex;
        flex-direction: row;
        height: 50px;
    }

        .userInConversationInfo > span {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }

    .modal-title {
        font-size: 16px;
        text-align: center;
    }

    .conversation-info-btn:hover {
        cursor: pointer;
    }
</style>

<div class="modal-header">
    <h5 class="modal-title" id="ConversationInfoTitle">Conversation Information about @Model.Conversation.Name</h5>
</div>
<div class="modal-body">
    @foreach (var obj in Model.ConversationUserSMs)
    {
    <div class="userInConversationInfo">
        <span>@obj.Name</span>
        @if (Model.IsCurrentUserAdmin && obj.ID != Model.Conversation.CreatorID)
        {
            <span class="push"></span>
            <span style="padding-right:20px">
                <img src="~/images/deleteIcon.png" id="@obj.ID" class="img40 deleteFromConversation conversation-info-btn" />
            </span>
            <span style="padding-right:20px">
                <img src="~/images/admin.png" id="@obj.ID" class="img40 setAdminUser conversation-info-btn" />
            </span>
        }
    </div>
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>