@{
    ViewData["Title"] = "Home Page";
}
@{
    int userID = Convert.ToInt32(User.Claims.ToList()[1].Value);
    ChatContext chatContext = new ChatContext();
    var user = chatContext.Users.Find(userID);
}

<div class="f-column column">
    <div class="user-info">
        <img src="~/images/DefaultUserImg.png" class="img40" />
        <span>@Html.StringLengthValidate(user.Login)</span>
        <img src="~/images/condition-on.jpg" class="img10" />
    </div>
    <div class="search">
        <input type="text" />
    </div>
    <div class="list-output">
    </div>
</div>
<div class="s-column column" style="background-color:red">
</div>
